:root {
  /* insert some variables like : --var: #??????; */
  --font-secondary: 'Playfair Display', serif;
  --font-color: #595959;
  --background-color: #F3F3F3;
}

html {
  box-sizing: border-box;
  font-family: Open Sans;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var( --background-color);
  color: var(--font-color);
  position: relative;
  letter-spacing: -.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0 0 0 .5rem;
}

a {
  z-index: 5;
  color: #197EB1;
  text-decoration: none;
}

a:hover {
  color: #084C6E;
}

img {
  width: 100%;
}

/* queries */

@media only screen and (max-width: 30em) {
  :root {
    font-size: 12px;
  }
  header {
    height: 90vh;
  }
}
@media only screen and (min-width: 30em) and (max-width: 45em){
}
@media only screen and (max-width: 45em) {
  header {
    grid-template-rows: repeat(2, calc(23vh - .5rem)) repeat(3, 1fr) .2fr;
  }
  .life-selling:first-of-type {
    grid-row: span 2;
  }
  .life-selling:nth-of-type(2) {
    grid-column: span 2;
    margin: 1rem 2.5rem 0 2.5rem;
  }
  .discover {
    color: var(--fonts-color);
  }
  .discover img.no-sm-white {
    display: none;
  }
  .background-header {
    height: 45vh;
  }
}

@media
  only screen and (min-width: 45em),
  only screen and (orientation: landscape) {
    header {
      height: 99vh;
      grid-template-rows: repeat(2, 40vh) 1fr;
    }
    .life-selling:first-of-type {
      grid-row: span 1;
    }
    .life-selling:nth-of-type(2) {

    }
    p.catchphrase {
      display: none;
    }
    .discover {
      color: white;
    }
    .discover:hover p {
      color: white;
    }
    .discover img.sm-grey-only {
      display: none;
    }
    .background-header {
      height: 100vh;
    }
}

/* locals */

.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: .2rem solid #E1E1E1;
  outline-offset: -1rem;
  z-index: 1;
}

._framed {
  border-width: .125rem .25rem;
  border-style: solid;
  border-color: white;
  box-shadow: inset 0 0 0 .1rem #979797;
}

section {
  position: relative;
}
section:not(#annonces) {
  height: 50vh;
  padding: 1rem;
  min-height: 25rem;
  max-height: 35rem;
}
section * {
  z-index: 1;
}

.section-title {
  color: #595959;
  margin: 0 .5rem;
  font-size: 1.75rem;
}

.button-to-top {
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-width: .13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .25s, transform .35s;
  opacity: 1;
  transform: rotate3d(0);
}
.button-to-top img {
  width: 60%;
  transform: rotateZ(180deg);
}
.button-to-top.-hidden {
  opacity: 0;
  transform: rotate3D(1, 0, 0, +0.25turn);
}

.signature {
  color: var(--fonts-color);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .5rem;
  opacity: .5;
}

/* HEADER */

header {
  font-family: var(--font-secondary);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(2, calc(25vh - .5rem)) repeat(3, 1fr); */
  min-height: 40rem;
  max-height: 70rem;
}
.background-header {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 0.19rem .5rem .125rem rgba(0,0,0,0.50);
  background-image: url("../image/background-header.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

nav.menu {
  z-index: 1;
  margin: 2rem;
  grid-row: span 2;
}
nav .navigation-button {
  background-color: white;
  width: 75%;
  padding: .5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .navigation-button:active {
  opacity: .95;
  margin-top: .1rem;
}
nav .navigation-button._framed {
  box-shadow: inset 0 0 0 .1rem #BDBDBD;
}
nav .navigation-button span {
  font-size: 1.25rem;
  font-weight: bold;
}
nav .navigation-button img {
  width: 1rem;
  height: .65rem;
  fill: var(--font-color);
  transition: transform 1s;
  transform: rotate3d(0);
}
nav .navigation-button.active img {
  transform: rotate3d(1, 0, 0, +0.5turn);
}
nav .navigation-container {
  transition: all .5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  max-height: 12rem;
  padding-left: 1.25rem;
}
nav .navigation-container.-hidden {
  max-height: 0;
}
nav .navigation-container__item {
  display: flex;
  align-items: center;
}
nav .navigation-container__item img {
  height: 3rem;
  width: auto;
  transition: transform .3s;
  transform: rotate3d(0);
}
nav .navigation-container__item.-hidden img {
  transform: rotate3D(1, 0, 0, +0.25turn);
}
nav .navigation-container__item p {
  color: white;
  font-size: 1.25em;
  padding-bottom: .75rem;
  max-width: 8em;
  transition: all .5s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
nav .navigation-container__item.-hidden p {
  max-width: 0;
}

.life-selling {
  align-self: center;
  justify-self: center;
  background: white;
  border-width: .1875rem .375rem;
  margin-right: 1.5rem;
  margin-left: -1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.life-selling p {
  font-size: 1.2rem;
}
.life-selling:first-of-type {
  flex-grow: 1;
}
.life-selling:first-of-type hr {
  width: 60%;
}

._bold {
  font-size: 1.25rem;
  font-weight: bolder;
}

.catchphrase {
  align-self: center;
  grid-column: span 2;
  text-align: center;
  margin: 0 2rem;
}

.discover {
  grid-column: span 2;
  font-family: Open Sans;
  text-align: center;
  opacity: .9;
  margin-top: 0;
  transition: all .2s;
}
.discover p {
  font-size: 1.5rem;
}
.discover img {
  margin: .5rem;
  width: 2.2rem;
}
.discover:hover {
  color: inherit;
  opacity: .75;
}
.discover:active {
  opacity: 1;
  margin-top: 2px;
}

/* ANNONCES */

section#annonces {
  position: relative;
  background: white;
  padding: 1rem;
}
#annonces .__title {
  /* margin: .25rem .25rem; */
}

#annonces a._tiny {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.annonces-container {
  display: flex;
  flex-direction: column;
  height: 75%;
  padding: 0 .75rem;
}

.annonce-item {
  display: flex;
  z-index: 0;
  margin-top: 1rem;
  flex: 1;
}
.annonce-item img {
  width: auto;
  height: 100.5%;
	margin-top: -1px;
	margin-right: -1px;
  max-height: 9.5rem;
}
.annonce-item .__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border: .05rem solid #979797;
  border-left: none;
}
.annonce-item .__info-container p {
  font-size: 1.5rem;
}
.annonce-item .__info-container span {
  opacity: .75;
}

#annonces a:last-of-type {
  display: block;
  margin: 2rem 1rem 1.5rem 1rem;
  font-size: 1.5rem;
}

/* DROITS */

section#droits {
  position: relative;
  height: 50vh;
  background: url("../image/rightsbackground.png");
  color: white;
}
section#droits > * {
  position: absolute;
  top: 0;
  left: 0;
}
.filter {
  width: 100%;
  height: 100%;
  background: rgba(120,120,120, .65);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 2rem 3.5rem;
}
.content p {
  padding: 0 1rem;
  font-size: 1.3rem;
}
.droits__button {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 1rem;
}
.droits__button img {
  width: 2rem;
  height: 2rem;
}
.droits__button span {
  font-size: 1.4rem;
  color: var(--font-color);
}
.droits__button._framed {
  border-width: 0.25rem .5rem;
}

/* PARTENAIRES */

section#partenaires {
}

/* CONTACT */

section#contact {
  background: white;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto repeat(2, 1fr) repeat(2, .3fr) .5fr;
  font-family: var(--font-secondary);
  align-content: center;
}
#contact .section-title {
  grid-column: span 2;
  font-family: Open Sans;
  /* margin-bottom: .5rem; */
}

.contact-input {
  grid-column: span 2;
  box-shadow: .07rem 0.13rem 1rem .25rem #EFEFEF;
  background: white;
  transition: all 1s;
  height: 4.5rem;
  margin: 1rem 2.5rem 1rem .5rem;
}
.contact-input.-expand {
  /* toujours 6rem de différence (4.5 + 1.5)*/
  height: 33rem;
  margin-top: -27rem;
}

.contact-input__button {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 .5rem;
  border-width: .25rem .5rem;
  box-shadow: inset 0 0 0 .1rem #BDBDBD;
}
.contact-input__button span {
  font-size: 1.2rem;
  font-weight: bolder;
}
.contact-input__button img {
  width: 1.5rem;
  transition: transform .5s;
  transform: rotate(180deg);
}
.contact-input.-expand .contact-input__button img {
  transform: rotate(0deg);
}

#contact a {
  padding-left: 2rem;
  color: var(--font-color);
}
#contact a:hover {
  color: #084C6E;
}

.contact__mail {
}

.contact__adress {
  text-align: right;
  grid-row: span 2;
  padding: 0 2rem 0 0;
}

.contact__phone {
  font-family: Open Sans;
  display: flex;
	align-items: center;
	opacity: .9;
}

.contact__facebook {
  grid-column: span 2;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.contact__facebook img {
  width: 2.5rem;
  filter: brightness(50%);
}
.contact__facebook span {
  font-size: 1.2rem;
  margin-left: .75rem;
  font-weight: bolder;
}
